barcodes.csv
SE5825_barcodes.csv
SE5825_R1.fq.gz
SE5825_R2.fq.gz
split_files/7-A11_reseq1.fastq
split_files/7-E2_reseq1.fastq
split_files/8-G11_reseq1.fastq
split_files/9-H9_reseq1.fastq
split_files/11-A12_reseq1.fastq
split_files/11-B5_reseq1.fastq
split_files/11-C2_reseq1.fastq
split_files/11-E6_reseq1.fastq
split_files/11-E8_reseq1.fastq
split_files/11-F4_reseq1.fastq
split_files/11-H11_reseq1.fastq
split_files/12-A1_reseq1.fastq
split_files/12-F1_reseq1.fastq
split_files/12-F6_reseq1.fastq
split_files/a1_idx1.txt
split_files/a1_idx2.txt
split_files/barcode_hops.csv

